@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Salsa&family=Yarndings+12&display=swap');

*  {
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
  }
  